<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:property-placeholder ignore-unresolvable="true"   location="classpath:alias.properties"/>


	<bean id="school" name="school1" class="com.john.xmlconfig.School">
		<constructor-arg ><!-- ref="students"-->
			<!--<ref bean="students"></ref>-->

			<value >笑王</value>

		</constructor-arg>
		<constructor-arg >
			<!--<ref bean="teachers"></ref>-->
			<value >张老师</value>
		</constructor-arg>


	</bean>

	<!--bean别名 name为bean名称 alias为别名-->
	<alias name="school1" alias="aliaslschool"/>
	<alias name="school1" alias="${aliasName}"/>
	<bean id="students" class="com.john.xmlconfig.Students" >
		<property name="name">
			<value type="java.lang.String">yiwen</value>
		</property>
	</bean>
	<bean id="teachers"  name="teach" class="com.john.xmlconfig.Teachers">
		<property name="name">
			<value type="java.lang.String">zhangsan</value>
		</property>
	</bean>

	<bean id="conversionService"
		  class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.john.xmlconfig.TeacherConverter"/>
				<bean class="com.john.xmlconfig.StudentConverter"/>
				<bean class="com.john.converter.SchoolConverter"/>

			</set>
		</property>
	</bean>
</beans>