<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="ChineseFemaleSinger" class="com.john.beanFactory.Singer" abstract="true" >
		<property name="country" value="中国"/>
		<property name="gender" value="女"/>

	</bean>
	<bean id="Jane" parent="ChineseFemaleSinger">
		<property name="name" value="张靓颖"/>
	</bean>
	<bean id="Bibi" parent="ChineseFemaleSinger">
		<property name="name" value="周笔畅"/>
	</bean>
</beans>