<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="person" class="com.john.aop.Person">
	</bean>
	<alias name="person" alias="johnperson"/>
	<alias name="person" alias="johnperson1"/>

	<!-- myBean定义为person这个bean的时候 根据type获取不到-->
<!--	<alias name="person" alias="myBean"/>-->


		<bean id="myBean" factory-bean="eagerBean" scope="prototype" factory-method="createMyBean">
		</bean>
	<!-- factory-bean本身是个FactoryBean类型 内部的EagerBean 有createMyBean方法 -->
	<bean id="eagerBean" class="com.john.beanFactory.EagerFactoryBean">
	</bean>
</beans>