<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 这是2个非单例模式的bean -->
	<bean id="apple" class="com.john.xmlconfig.Apple" scope="prototype"/>
	<bean id="bananer" class="com.john.xmlconfig.Bananer " scope="prototype"/>

	<bean id="fruitPlate1" class="com.john.xmlconfig.FruitPlate">
		<lookup-method name="getFruit" bean="apple"/>
	</bean>
	<bean id="fruitPlate2" class="com.john.xmlconfig.FruitPlate" >
		<lookup-method name="getFruit" bean="bananer"/>
	</bean>

</beans>