<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd" default-autowire-candidates="**">

	<bean id="setterParentBean" class="org.wonder.frame.xmlConfig.ElBean" >


		<property name="lists">

			<list>
				<value>s</value>
				<value>s</value>
			</list>
		</property>
		<property name="maps">
			<map>
				<entry key="list1">

					<value type="java.lang.String" >
						cccc
					</value>
				</entry>
				<entry key="list2"  value="student4"/>
				<entry key="list3" value="student5" />
			</map>

		</property>
	</bean>
	 <bean id="setterBean" class="org.wonder.frame.xmlConfig.ElBean"  parent="setterParentBean">
		 <property name="age"   value="#{T(Integer).MAX_VALUE}">

		 </property>

		 <property name="lists">

			 <list merge="true">
				 <value>ss</value>
				 <value>sss</value>
			 </list>
		 </property>

		 <property name="maps">
			 <!--			 <value type="java.lang.String">-->
			 <!--				 sss-->
			 <!--			 </value>-->

			 <map merge="true" key-type="java.lang.String">
				 <entry key="list1">
					 <value type="java.lang.String">
						cccc
					 </value>
				 </entry>
				 <entry key="list2"  value="student4"/>
				 <entry key="list3" value="student5" />
			 </map>

		 </property>
	 </bean>

</beans>